!!! 5
%html
  %head
    =stylesheet_link_tag 'blueprint/screen', :media=>'screen'
    =stylesheet_link_tag 'blueprint/print', :media=>'print'
    =csrf_meta_tags #ya sabe que hace esto?
    %title= title
  %body
    = yield
   
