!!! 5
%html
  %head
    =stylesheet_link_tag 'application', :media=>'screen'
    =csrf_meta_tags
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %title= title  
  %body
    = render 'layouts/navigation'
    .container
      .content
        .row
          .span12
            = yield
        = render 'layouts/footer'